In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

/Users/sandeeppowar/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["grade"]=='9th') & (student_data_df["school_name"]=='Thomas High School'),"reading_score"]= np.nan

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["grade"]=='9th') & (student_data_df["school_name"]=='Thomas High School'),"math_score"]= np.nan

In [5]:
#  Step 4. Check the student data for NaN's. 
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [7]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [8]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [9]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
student_count_9th_Thomas = school_data_complete_df.loc[(school_data_complete_df["grade"]== "9th") & (school_data_complete_df["school_name"]== "Thomas High School"),"Student ID"].count()


# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_student_count = student_count - student_count_9th_Thomas
new_student_count

38709

In [10]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_math_count

28939

In [11]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = passing_math_count/new_student_count * 100
passing_reading_percentage = passing_reading_count/new_student_count * 100

In [12]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count/new_student_count * 100

In [13]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

##  School Summary

In [14]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [15]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [16]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [17]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
student_count_10th_Thomas = school_data_complete_df.loc[(school_data_complete_df["grade"]== "10th") & (school_data_complete_df["school_name"]== "Thomas High School"),"Student ID"].count()
student_count_11th_Thomas = school_data_complete_df.loc[(school_data_complete_df["grade"]== "11th") & (school_data_complete_df["school_name"]== "Thomas High School"),"Student ID"].count()
student_count_12th_Thomas = school_data_complete_df.loc[(school_data_complete_df["grade"]== "12th") & (school_data_complete_df["school_name"]== "Thomas High School"),"Student ID"].count()
student_count_10th_11th_12th_Thomas = student_count_10th_Thomas + student_count_11th_Thomas + student_count_12th_Thomas
student_count_10th_11th_12th_Thomas

1174

In [18]:
# Step 6. Get all the students passing math from THS
Thomas_school_passing_math = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"]== "Thomas High School")]
Thomas_school_passing_math_count = Thomas_school_passing_math["student_name"].count()
Thomas_school_passing_math_count

1094

In [19]:
# Step 7. Get all the students passing reading from THS
Thomas_school_passing_reading = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["school_name"]== "Thomas High School")]
Thomas_school_passing_reading_count = Thomas_school_passing_reading["student_name"].count()
Thomas_school_passing_reading_count

1139

In [20]:
# Step 8. Get all the students passing math and reading from THS
Thomas_school_passing_math_reading = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["school_name"]== "Thomas High School")]
Thomas_school_passing_math_reading_count = Thomas_school_passing_math_reading["student_name"].count()
Thomas_school_passing_math_reading_count

1064

In [21]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
student_math_10th_11th_12th_THS_percentage = Thomas_school_passing_math_count/student_count_10th_11th_12th_Thomas * 100
student_math_10th_11th_12th_THS_percentage

93.18568994889267

In [22]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
student_reading_10th_11th_12th_THS_percentage = Thomas_school_passing_reading_count/student_count_10th_11th_12th_Thomas * 100
student_reading_10th_11th_12th_THS_percentage

97.01873935264055

In [23]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
student_overall_10th_11th_12th_THS_percentage = Thomas_school_passing_math_reading_count/student_count_10th_11th_12th_Thomas * 100
student_overall_10th_11th_12th_THS_percentage

90.63032367972743

In [24]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[['Thomas High School'],['% Passing Math']] = 93.18568994889267

In [25]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[['Thomas High School'],['% Passing Reading']]= 97.01873935264055

In [26]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc[['Thomas High School'],['% Overall Passing']]= 90.63032367972743

In [27]:
# per_school_summary_df
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,93.185690,97.018739,90.630324
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## High and Low Performing Schools

In [28]:
# Sort and show top five schools.
per_school_summary_df.sort_values(by='% Overall Passing', ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,93.185690,97.018739,90.630324
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [29]:
# Sort and show top five schools.
per_school_summary_df.sort_values(by='% Overall Passing', ascending=False).tail()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Math and Reading Scores by Grade

In [30]:
# Create a Series of scores by grade levels using conditionals.
# Group each school Series by the school name for the average math score.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

# Group each school Series by the school name for the average reading score.
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.896082
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [31]:
# Combine each Series for average math scores by school into single data frame.
per_school_summary1_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

In [32]:
# Combine each Series for average reading scores by school into single data frame.
per_school_summary1_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [33]:
# Format each grade column.
per_school_summary1_df["Total School Budget"] = per_school_summary1_df["Total School Budget"].map("{:,.0f}".format)
per_school_summary1_df["Per Student Budget"] = per_school_summary1_df["Per Student Budget"].map("{:,.0f}".format)
per_school_summary1_df["% Passing Math"] = per_school_summary1_df["Average Math Score"].map("{:.0f}%".format)
per_school_summary1_df["% Passing Reading"] = per_school_summary1_df["% Passing Reading"].map("{:.0f}%".format)
per_school_summary1_df["% Overall Passing"] = per_school_summary1_df["% Overall Passing"].map("{:.0f}%".format)
per_school_summary1_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"3,124,928",628,77.048432,81.033963,77%,82%,55%
Cabrera High School,Charter,1858,"1,081,356",582,83.061895,83.975780,83%,97%,91%
Figueroa High School,District,2949,"1,884,411",639,76.711767,81.158020,77%,81%,53%
Ford High School,District,2739,"1,763,916",644,77.102592,80.746258,77%,79%,54%
Griffin High School,Charter,1468,"917,500",625,83.351499,83.816757,83%,97%,91%
Hernandez High School,District,4635,"3,022,020",652,77.289752,80.934412,77%,81%,54%
Holden High School,Charter,427,"248,087",581,83.803279,83.814988,84%,96%,89%
Huang High School,District,2917,"1,910,635",655,76.629414,81.182722,77%,81%,54%
Johnson High School,District,4761,"3,094,650",650,77.072464,80.966394,77%,81%,54%
Pena High School,Charter,962,"585,858",609,83.839917,84.044699,84%,96%,91%
Rodriguez High School,District,3999,"2,547,363",637,76.842711,80.744686,77%,80%,53%
Shelton High School,Charter,1761,"1,056,600",600,83.359455,83.725724,83%,96%,90%
Thomas High School,Charter,1635,"1,043,130",638,83.350937,83.896082,83%,70%,65%
Wilson High School,Charter,2283,"1,319,574",578,83.274201,83.989488,83%,97%,91%
Wright High School,Charter,1800,"1,049,400",583,83.682222,83.955000,84%,97%,90%

In [34]:
# Remove the index.
per_school_summary1_df = per_school_summary1_df.reset_index()

# Display the data frame
per_school_summary1_df

,index,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,"3,124,928",628,77.048432,81.033963,77%,82%,55%
1,Cabrera High School,Charter,1858,"1,081,356",582,83.061895,83.975780,83%,97%,91%
2,Figueroa High School,District,2949,"1,884,411",639,76.711767,81.158020,77%,81%,53%
3,Ford High School,District,2739,"1,763,916",644,77.102592,80.746258,77%,79%,54%
4,Griffin High School,Charter,1468,"917,500",625,83.351499,83.816757,83%,97%,91%
5,Hernandez High School,District,4635,"3,022,020",652,77.289752,80.934412,77%,81%,54%
6,Holden High School,Charter,427,"248,087",581,83.803279,83.814988,84%,96%,89%
7,Huang High School,District,2917,"1,910,635",655,76.629414,81.182722,77%,81%,54%
8,Johnson High School,District,4761,"3,094,650",650,77.072464,80.966394,77%,81%,54%
9,Pena High School,Charter,962,"585,858",609,83.839917,84.044699,84%,96%,91%
10,Rodriguez High School,District,3999,"2,547,363",637,76.842711,80.744686,77%,80%,53%
11,Shelton High School,Charter,1761,"1,056,600",600,83.359455,83.725724,83%,96%,90%
12,Thomas High School,Charter,1635,"1,043,130",638,83.350937,83.896082,83%,70%,65%
13,Wilson High School,Charter,2283,"1,319,574",578,83.274201,83.989488,83%,97%,91%
14,Wright High School,Charter,1800,"1,049,400",583,83.682222,83.955000,84%,97%,90%

In [35]:
## Remove the index.


# Display the data frame

## Scores by School Spending

In [36]:
# Establish the spending bins and group names.
#per_school_capita.describe()
spending_bins = [0, 585, 630, 645, 675]
pd.cut(per_school_capita, spending_bins)

Bailey High School       (585, 630]
Cabrera High School        (0, 585]
Figueroa High School     (630, 645]
Ford High School         (630, 645]
Griffin High School      (585, 630]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 630]
Rodriguez High School    (630, 645]
Shelton High School      (585, 630]
Thomas High School       (630, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64, right]): [(0, 585] < (585, 630] < (630, 645] < (645, 675]]

In [37]:
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [38]:
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$586", "$586-630", "$631-645", "$646-675"]

In [39]:
# Categorize spending based on the bins.
per_school_summary1_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary1_df

,index,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,Bailey High School,District,4976,"3,124,928",628,77.048432,81.033963,77%,82%,55%,NaN
1,Cabrera High School,Charter,1858,"1,081,356",582,83.061895,83.975780,83%,97%,91%,NaN
2,Figueroa High School,District,2949,"1,884,411",639,76.711767,81.158020,77%,81%,53%,NaN
3,Ford High School,District,2739,"1,763,916",644,77.102592,80.746258,77%,79%,54%,NaN
4,Griffin High School,Charter,1468,"917,500",625,83.351499,83.816757,83%,97%,91%,NaN
5,Hernandez High School,District,4635,"3,022,020",652,77.289752,80.934412,77%,81%,54%,NaN
6,Holden High School,Charter,427,"248,087",581,83.803279,83.814988,84%,96%,89%,NaN
7,Huang High School,District,2917,"1,910,635",655,76.629414,81.182722,77%,81%,54%,NaN
8,Johnson High School,District,4761,"3,094,650",650,77.072464,80.966394,77%,81%,54%,NaN
9,Pena High School,Charter,962,"585,858",609,83.839917,84.044699,84%,96%,91%,NaN
10,Rodriguez High School,District,3999,"2,547,363",637,76.842711,80.744686,77%,80%,53%,NaN
11,Shelton High School,Charter,1761,"1,056,600",600,83.359455,83.725724,83%,96%,90%,NaN
12,Thomas High School,Charter,1635,"1,043,130",638,83.350937,83.896082,83%,70%,65%,NaN
13,Wilson High School,Charter,2283,"1,319,574",578,83.274201,83.989488,83%,97%,91%,NaN
14,Wright High School,Charter,1800,"1,049,400",583,83.682222,83.955000,84%,97%,90%,NaN

In [40]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary1_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary1_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary1_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary1_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary1_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

KeyError: '% Passing Math'

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [41]:
# Establish the bins.

# Categorize spending based on the bins.

In [42]:
# Calculate averages for the desired columns.

In [43]:
# Assemble into DataFrame.

In [382]:
# Format the DataFrame

## Scores by School Type

In [45]:
# Calculate averages for the desired columns.

In [46]:
# Assemble into DataFrame.

In [47]:
# # Format the DataFrame